* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  /* background-image: url("alaskaheader.jpeg"); */
  background-image: url("alaskaheader.jpeg"),
    linear-gradient(to right, rgb(253, 250, 250), rgb(194, 188, 188));
  max-width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header img {
  position: relative;
  left: 42%;
  top: 13%;
}
.class-header-text {
  text-align: center;
  position: relative;
  top: 25%;
}
.class-header-text h1 {
  font-size: 134px;
  letter-spacing: 2px;
  color: rgb(247, 194, 13);
  font-weight: 200;
}
.class-header-text p {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}
.fa-chevron-down {
  margin-top: 20px;
  color: rgb(228, 228, 21);
  font-size: 78px;
}
.alaska-question-part {
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/13483428c7e35d498328e12b/pexelsphoto540518.jpeg");
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
}
.alaska-question {
  width: 35%;
  margin-left: 50px;
  margin-top: 50px;
}
.alaska-question h2 {
  font-size: 84px;
  color: rgb(247, 194, 13);
  font-weight: 200;
}
.alaska-read {
  width: 45%;
  margin-left: 100px;
  margin-top: 50px;
}
.alaska-read p {
  color: white;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 200;
}
.alaska-read button {
  border: none;
  background-color: rgb(247, 194, 13);
  padding: 14px 28px;
  border-radius: 1px;
  font-size: 20px;
  letter-spacing: 1px;

  margin-top: 50px;
}
.experience-part {
  height: 750px;
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/08a5914d6b8d5ac68a2d27f7/pexelsphoto572897.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.experience-part h2 {
  text-align: center;
  position: relative;
  top: 50px;
  letter-spacing: 2px;
  font-weight: 200;
  color: rgb(247, 194, 13);
  font-size: 48px;
}
.tour-pictures {
  display: flex;
  top: 70px;
  position: relative;
}

.tour-pictures h2 {
  color: white;
  font-size: 24px;
  position: relative;
  top: 75%;
  left: 3%;
  text-align: left;
}
.experience-part .fa-chevron-down {
  position: relative;
  top: 73%;
  font-size: 45px;
  text-align: left;
  left: 3%;
}
.brews-tour {
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/a2469711d8a0527c82fcf67f/alaskawildernessskyauroraborealis41004.jpeg");
  width: 380px;
  height: 440px;
  background-size: cover;
  margin-right: 20px;
  margin-left: 40px;
  background-position: center;
}
.city-tour {
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/08eb8d77dd2553a2ba96f093/pexelsphoto533616.jpeg");
  width: 380px;
  height: 440px;
  margin-right: 30px;
  background-size: cover;
  background-position: 50% 50%;
}
.museum-tour {
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/85aff1e254b358bdad54989f/pexelsphoto463734.jpeg");
  width: 380px;
  background-size: cover;
  height: 440px;
  background-position: center;
}
.experience-part button {
  border: none;
  background-color: rgb(247, 194, 13);
  padding: 12px 24px;
  border-radius: 1px;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  color: white;
  top: 14%;
  left: 42%;
}
.rail-from-section {
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/e8388f4397a5560997ced6ad/pexelsphoto897717.jpeg");
  background-size: cover;
  height: 680px;
  display: flex;
}
.rail-1 {
  width: 50%;
  position: relative;
  top: 70px;
  left: 30px;
}
.rail-1 h3 {
  font-size: 78px;
  color: rgb(247, 194, 13);
  font-weight: 100;
  margin-left: 50px;
}
.rail-2 {
  color: rgb(241, 241, 241);
  width: 40%;
  line-height: 1.5;
  position: relative;
  top: 70px;
  left: 4%;
}
.rail-2 p {
  margin-top: 20px;
}
.rail-2 h4 {
  font-size: 28px;
}
.results {
  height: 500px;
  background-size: cover;
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/a414e2b890d552d880c1f25f/woodlandscapemountainsnature.jpg");
}
.results {
  display: flex;
  color: white;
  font-size: 18px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.results span {
  color: rgb(247, 194, 13);
  position: relative;
  font-size: 44px;
  letter-spacing: 3px;
  font-weight: 600;
  top: 25%;
}
.results p {
  top: 37%;
  position: relative;
  font-size: 14px;
}
.stay-num,
.visit-num,
.repeat,
.safe-secure {
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  margin: 50px auto;
  margin-top: 100px;
}
.connor-quin-section {
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/2fec38a59e825ce6bbc2371a/wolfwolvessnowwolflandscape89773.jpeg");
  height: 630px;
  background-size: cover;
}
.connor-quin {
  text-align: center;
  color: white;
  width: 40%;
  line-height: 1.5;
  position: relative;
  top: 20%;
  left: 30%;
}
.connor-quin p {
  font-size: 18px;
}
.connor-quin b {
  position: relative;
  left: 8%;
  bottom: 40px;
  font-size: 24px;
}
.connor-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/531a3b577d2759a68e3269c1/pexelsphoto952237.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  left: 43%;
  top: 10%;
}
.connor-quin .fa-chevron-down {
  position: relative;
  top: 30px;
  right: 80px;
}
.contact-section {
  display: flex;
  background-image: url("  https://images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/e49bf63281bd5a8e871d7dc6/pexelsphoto1054289.jpeg");
  background-size: cover;
  height: 500px;
  background-position: center;
}

.contact-us-pp {
  position: relative;
  top: 13%;
  width: 50%;
  left: 7%;
  color: white;
  line-height: 1.5;
}
.contact-us-pp h2 {
  color: yellow;
  font-size: 62px;
  font-weight: 100;
  left: 50px;
}
.contact-us-pp p {
  line-height: 1.5;
  font-size: 18px;
}
.contact-pp-2 {
  width: 50%;
  position: relative;
  top: 10%;
}
#name {
  width: 80%;
  height: 50px;
  border: 2px solid rgb(219, 218, 218);
  margin-bottom: 20px;
  border-radius: 2px;
  padding-left: 10px;
  font-size: 18px;
  background: none;
}
#mail {
  width: 80%;
  height: 50px;
  border: 2px solid rgb(219, 218, 218);
  margin-bottom: 20px;
  border-radius: 2px;
  padding-left: 10px;

  background: none;
  font-size: 18px;
}
#message {
  width: 80%;
  height: 110px;
  border: 2px solid rgb(219, 218, 218);
  margin-bottom: 20px;
  border-radius: 2px;
  background: none;

  font-size: 18px;
}
#submit {
  padding: 10px 30px;
  border: none;
  background-color: yellow;
}
#submit:hover {
  background-color: rgb(228, 228, 25);
  color: white;
}
.contact-icons {
  margin-top: 80px;
  font-size: 20px;

  color: yellow;
}
footer {
  background-color: rgb(88, 87, 87);
  height: 80px;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-linkedin {
  font-size: 24px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  header {
    height: 700px;
  }
  .class-header-text h1 {
    font-size: 76px;
  }
  .class-header-text p {
    font-size: 24px;
    margin-top: 20px;
    letter-spacing: 3px;
  }
  .fa-chevron-down {
    margin-top: 20px;
  }
  header img {
    position: relative;
    left: 34%;
    width: 150px;
    height: 150px;
  }
  .alaska-question-part {
    display: inline-block;
    margin: 0;
    height: 650px;
  }
  .alaska-question {
    width: 80%;
    margin: 0;
    position: relative;
    left: 12%;
    top: 20px;
  }
  .alaska-question h2 {
    font-size: 36px;
  }

  .alaska-read {
    width: 80%;
    position: relative;
    top: 40px;
    left: 12%;
    margin: 0;
    font-size: 18px;
  }
  .alaska-read p {
    line-height: 1.5;
  }
  .experience-part {
    height: 1600px;
  }
  .tour-pictures {
    display: inline-block;
  }

  .experience-part h2 {
    font-size: 28px;
    width: 90%;
    text-align: left;
    margin-left: 63px;
  }
  .brews-tour,
  .city-tour,
  .museum-tour {
    position: relative;
    left: 18%;
    width: 90%;
  }
  .brews-tour h2 {
    text-align: left;
    margin: 0;
  }
  .museum-tour h2 {
    text-align: left;
    margin: 0;
  }
  .city-tour h2 {
    text-align: left;
    margin: 0;
  }
  .brews-tour {
    margin: 0;
    margin-bottom: 30px;
  }
  .city-tour {
    margin-bottom: 30px;
  }
  .museum-tour {
    margin-bottom: 30px;
  }
  .experience-part .fa-chevron-down {
    font-size: 32px;
  }
  .experience-part button {
    position: relative;
    top: 29%;
    left: -200px;
  }
  .rail-from-section {
    /* display:inline-block; */
    flex-direction: column;
    height: 1100px;
  }
  .rail-1 {
    width: 80%;
    position: relative;
    left: 14%;
  }
  .rail-2 {
    width: 80%;
    position: relative;
    left: 14%;
  }
  .rail-1 h3 {
    font-size: 58px;
    margin: 0;
  }
  .results {
    display:inline-block;
    height: 990px;
    width:100%;
    
  }
  .stay-num,
  .visit-num,
  .repeat,
  .safe-secure {
    width: 200px;
    height: 200px;
    margin-left:auto;
    margin-top:10px;
  }
  .connor-quin-section{
    height:600px;
  
  }
  .connor-picture{
position:relative;
left:38%;
width:100px;
height:100px;
  }
  .connor-quin{
    width:60%;
    position:relative;
    left:20%;
margin:0;
  }
  .connor-quin b{
    position:relative;
left:15px;
top:0;
  }
  .connor-quin .fa-chevron-down{
font-size:36px;
margin-top:10px;
  }
  .contact-section{
    flex-direction:column;
    height:800px;
  
  }
  .contact-us-pp{
width:80%;
margin:5px auto;
  }
.contact-pp-2{
width:80%;
margin:5px auto;
position:relative;
left:5%;
}
.contact-icons{
  position:relative;
  bottom:20%;
}






}
